#guesswho{
  width: 13%;
  float: left;

}
#randomName{
  width: 22%;
  float: left;
}

img{
  height: 100px;
  width: 100px;
  float: left;
  margin: 10px
}

#feedback{
  float: left;
}

.wrong{
  background-color: red;
  height: 105px;
  width: 105px;

}
